<a href="/todos/new" class="btn btn-primary mb-3">Create</a>
<ul class="list-group">
  {{#each todos}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-auto mr-auto d-flex flex-nowrap align-items-center">
        <input type="checkbox" name="isDone" {{#if this.isDone }} checked {{/if}} disabled>
        <h4 class="ml-1 d-flex flex-nowrap align-items-center">
          {{ this.name }}
        </h4>
      </div>
      <div class="col-auto">
        <a class="btn btn-secondary" href="/todos/{{ this.id }}">detail</a>
        <a class="btn btn-success" href="/todos/{{ this.id }}/edit">edit</a>
        <form action="/todos/{{ this.id }}?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit" onclick="return deleteConfirm()">delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>

<script>
  function deleteConfirm() {
    return window.confirm('是否要刪除此筆紀錄?')
  } 
</script>